.NavbarMarca {
    font-size: 32px;
    margin-right: 20px;
    font-family: Gill Sans;
    color: white;
}

.NavbarButton {
    color: white;
    border-color: white;
}

.NavbarButton:hover {
    background-color: #212529;
    border-color: #212529;
}

.HomeTitulo {
    margin-top: 25%;
    font-size: 40px;
    font-family: system-ui;
    animation-duration: 2s;
    animation-name: Desaparecer;
    animation-iteration-count: infinite;
}

@keyframes Desaparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.HomeText {
    font-size: 25px;
    font-family: system-ui;
}

.FooterColor {
    background-color: #343a40;
}

.FooterMarca {
    font-size: 32px;
    margin-right: 20px;
    font-family: Gill Sans;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.MargenLogos {
    margin: 1.5%;
}

.FooterList {
    list-style: none;
}

.TiendaTitulo {
    font-family: Gill Sans;
    color: #343a40;
    font-weight: 600;
}

.TiendaContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 2%;
}

.TiendaBackImg {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.7s ease;
}

.TiendaBackImg:hover {
    opacity: 1;
}


.TiendaOfertas {
    justify-content: center;
    background-color: #343a40;
    color: white;
    font-size: 100%;
    font-family: Gill Sans;
    font-weight: 600;
    height: 400%;
}