.NavbarMarca{
    font-size: 32px;
    margin-right: 20px;
    font-family: Gill Sans;
    color: white;
}

.NavbarButton{
    color: white;
    border-color: white;
}

.NavbarButton:hover{
    background-color: #212529;
    border-color: #212529;
}
.NavbarH{
    height: 15%;
}

.margentop{
    margin-top: 7%;
}

.HomeTitulo{
    margin-top: 25%;
    font-size: 40px;
    font-family: system-ui;
}

.HomeText{
    font-size: 25px;
    font-family: system-ui;
}

.FooterColor{
    background-color: #343a40;
}

.FooterMarca{
    font-size: 32px;
    margin-right: 20px;
    font-family: Gill Sans;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.MargenLogos{
    margin: 1.5%;
}

.FooterList{
    list-style: none;
}

.GaleriaColor{
    background-color: #212529;
}