$Colores: (
    ColorPrimario: #343a40,
    ColorSecundario: #212529,
    ColorWhite: white,
);

$Fuentes: (
    FuenteTitulo:'Gill Sans',
    FuenteText: system-ui,
    FuenteContacto: monospace,
);

